<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Python Projects API</title>

        <style>
            body {
                background: #f6f8fc;
                background-image: radial-gradient(#d4d4d4 1px, transparent 0);
                background-size: 20px 20px;
                background-position: -19px -19px;
            }
        </style>
    </head>

    <body class="bg-white">
        <div class="md:w-[900px] md:mx-auto px-5 mt-4">
            <div class="flex justify-between w-full border-b pb-2 mb-4">
                <h1 class="font-bold text-3xl tracking-tight">Endpoints</h1>
                <a href="{{ url_for('index') }}" class="text-sm self-center font-medium text-blue-600 hover:text-blue-700">Go back</a>
            </div>

            <div class="shadow-sm text-black bg-white border w-full p-5 rounded-md">
                <h1 class="text-xl font-bold">Dog Emotion Classifier</h1>
                <p class="mt-2 tracking-wide"><span class="font-medium text-blue-600 tracking-tight">POST</span> /ai/classification/dogemotion</p>
            </div>

            <div class="shadow-sm text-black border bg-white w-full p-5 rounded-md mt-2">
                <h1 class="text-xl font-bold">Dog Vs Not-Dog Classifier</h1>
                <p class="mt-2 tracking-wide"><span class="font-medium text-blue-600 tracking-tight">POST</span> /ai/classification/dogvsnotdog</p>
            </div>
        </div>
    </body>
</html>